.timer_info {
    float: right;
    margin-top: 0;
}

.clearfix::after {
    content: " ";
    display: block;
    clear: both;
  }

  #start_button {
      margin: 0 auto;
  }

  .answer_button {
      margin: 20px auto;
  }